{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Conditional Contribution
{% endblock %}

{% block content %}
Please insert how much you would contribute if the other player contributes:<br>
<table style="border-collapse: collapse;border-style:hidden;" class="centerTable" width = "50%">
         <thead>
            <tr>
               <td>{% formfield player.zero %}</td>
               <td>{% formfield player.three %}</td>

            </tr>
            <tr> 
            <td>{% formfield player.one %}</td> 
            <td>{% formfield player.four %}</td>

               <tr> 
            <td>{% formfield player.two %}</td> 
            <td>{% formfield player.five %}</td> 

            </tr>

         </tbody>
         
      </table>
   <br>


<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
