{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Spielerzuordnung
{% endblock %}
{% block styles %}
	<style type="text/css">
	.page-header {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
	}
	.otree-title{
		font-size: 22px;
		padding-top: 80px;
	}
	.otree-timer{
		position: absolute;
    	right: 20%;
    	width: 15%;
    	top:50px;
    	padding: 10px;
	}
	.cont{
		padding-top: 50px ;
		padding-bottom: 50px ;
	}

	
	</style>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/


-->

<div class="cont">
<p>Sie sind zufällig als {% if player.id_in_group == 1 %}
		<strong>Spieler 1</strong>
	{% else %}
		<strong>Spieler 2</strong>
	{% endif %} zugeordnet worden.</p>

</div>

    {% next_button %}

{% endblock %}
