{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
<p>
		{% if player.id_in_group == 1 %}
		You are <b>Player A</b>.
		{% else %}
		You are <b>Player B</b>.
		{% endif %}
	</p>
	<p>
		Please wait for the other player.
</p>
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->



{% endblock %}
