{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Result
{% endblock %}

{% block content %}
<table border=1 class="centerTable" width = "100%">
         <thead>
            <tr>
              <td width="(100/x)%" align="center">Payoff relevant contribution</td>
              <td width="(100/x)%" align="center">Own contribution</td>
              <td width="(100/x)%" align="center">Other player's contribution</td>
              <td width="(100/x)%" align="center">Return from common project</td>
              <td width="(100/x)%" align="center">Own payoff</td>
              <td width="(100/x)%" align="center">Other's payoff</td>
            </tr>
            <tr>
              <td width="(100/x)%" align="center"> {{ deci }}</td>
              <td width="(100/x)%" align="center">{{ player.contri }}</td>
              <td width="(100/x)%" align="center">{{ player.others_contri }}</td>
              <td width="(100/x)%" align="center">{{ group.pay_proj }}</td>
              <td width="(100/x)%" align="center">{{ player.payoffFisch }}</td>
              <td width="(100/x)%" align="center">{{ others_payoff }}</td>
            </tr>

         </tbody>
         
      </table>
    <br>
    <br>
    <br>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
