{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Result
{% endblock %}

{% block content %}
<table border=1 class="centerTable" width = "100%">
         <thead>
            <tr>
              <td width="(100/x)%" align="center"><b>Payoff relevant contribution</b></td>
              <td width="(100/x)%" align="center"><b>Own contribution</b></td>
              <td width="(100/x)%" align="center"><b>Other player's contribution</b></td>
              <td width="(100/x)%" align="center"><b>Return from common project</b></td>
              <td width="(100/x)%" align="center"><b>Own payoff</b></td>
              <td width="(100/x)%" align="center"><b>Other's payoff</b></td>
            </tr>
            <tr>
              <td width="(100/x)%" align="center"> {{ deci }}</td>
              <td width="(100/x)%" align="center">{{ own_contri }}</td>
              <td width="(100/x)%" align="center">{{ others_contri_template }}</td>
              <td width="(100/x)%" align="center">{{ group.pay_proj }}</td>
              <td width="(100/x)%" align="center">{{ player.payoff }}</td>
              <td width="(100/x)%" align="center">{{ others_payoff }}</td>
            </tr>

         </tbody>
         
      </table>
    <br>
    <br>
    <br>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
