{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final Result
{% endblock %}

{% block styles %}
  <style type="text/css">
  .page-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .otree-title{
    padding-top: 80px;
    font-size: 22px;
  }
  .otree-timer{
    position: absolute;
      right: 20%;
      width: 15%;
      top:50px;
      padding: 10px;
  }
  .cont{
    padding-top: 50px ;
    padding-bottom: 50px ;
  }
  </style>
{% endblock %}

{% block content %}

<div class="cont">
<table border=1 class="centerTable" width = "100%">
         <thead>
            <tr>
              <td width="(100/x)%" align="center"><b>Eigener Beitrag</b></td>           
              <td width="(100/x)%" align="center"><b>Beitrag des anderen Spielers</b></td>
              <td width="(100/x)%" align="center"><b>Subventions- rate</b></td>
              <td width="(100/x)%" align="center"><b>{% if player.endowment == 10 %}
				Subvention zum gemeinsamen Projekt {% else %} Subvention des anderen Spielers {% endif %}</b></td>

              <td width="(100/x)%" align="center"><b>Ertrag aus gemeinsamen Projekt</b></td>
              <td width="(100/x)%" align="center"><b>Eigene Auszahlung</b></td>
              <td width="(100/x)%" align="center"><b>Auszahlung des anderen Spielers</b></td>
              <td width="(100/x)%" align="center"><b>Gesamte Auszahlung (Runde 1,2)</b></td>
              <td width="(100/x)%" align="center"><b>Gesamte Auszahlung in €</b></td>


            </tr>
            <tr>
              <td width="(100/x)%" align="center"> {% if player.endowment == 10 %}
        {{ own_contri }} {% else %} {{ own_cond }} {% endif %} </td>
              <td width="(100/x)%" align="center">{% if player.endowment == 10 %}
        {{ others_cond }} {% else %} {{ others_contri1 }} {% endif %}</td>
              <td width="(100/x)%" align="center">{% if player.endowment == 10 %}
        {{ player.t }}% {% else %} {{ player.other_t }}% {% endif %}</td>              
              <td width="(100/x)%" align="center">{{ group.amount_subsidy }}</td>
              <td width="(100/x)%" align="center">{{ group.pay_proj }}</td>
              <td width="(100/x)%" align="center">{{ player.payoff }}</td>
              <td width="(100/x)%" align="center">{{ others_payoff1 }}</td>
              <td width="(100/x)%" align="center">{{ total_payoff }}</td>
              <td width="(100/x)%" align="center">{{ real_payoff }}</td>


            </tr>

         </tbody>
         
      </table>
</div>



<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
