{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final Result
{% endblock %}

{% block content %}
Your payoff is in this round is {{ player.payoff }}<br>
Group payoff in this round is {{ group.pay_proj1 }}<br>
Your total payoff is {{ total_payoff }}


<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
