{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Ende der Studie
{% endblock %}

{% block styles %}
	<style type="text/css">
	.page-header {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
	}
	.otree-title{
		font-size: 22px;
		padding-top: 80px;
	}
	.otree-timer{
		position: absolute;
    	right: 20%;
    	width: 15%;
    	top:50px;
    	padding: 10px;
	}
	.round{
		position: absolute;
		font-family: "Arial", Times, serif;
    	right: 36%;
    	width: 90px;
    	top:50px;
    	padding: 10px;
    	color:  #CD853F;
    	border-radius: 8px;
    	border: 0.1px solid  	#FFDEAD;
    	background-color:  	#FFFFE0;
    	text-align: center;
    }
	.cont{
		padding-top: 50px ;
		padding-bottom: 50px ;
	}
	</style>
{% endblock %}

{% block content %}
<div class="cont">

<p>Danke für Ihre Teilnahme am Experiment. Bitte bleiben Sie an Ihrem Platz, bis wir Sie aufrufen. </p>


<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
</div>


{% endblock %}
